<div>
  <h2>Books</h2>
  <table>
    <tr>
      <th></th>
      <th>Tilte</th>
      <th>Opinion</th>
    </tr>
    <% @book.each do |book| %>
    <tr>
      <td><%= image_tag @user.get_profile_image(80, 80) %></td>
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= book.body %></td>
    </tr>
    <% end %>
  </table>
</div>